# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependencies
node_modules/

# Functions
functions/node_modules/
functions/.env
functions/firebase-debug.log

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
